body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::after, *::before {
  box-sizing: border-box;
}

ul, ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

th, td {
  border-bottom: none !important;
}

tr {
  border-radius: 15px;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.slick-slide {
  margin: 0 25px;
}

.sponsors-slick .slick-track {
  height: 140px;
}

.walks-slick .slick-track {
  height: 330px;
}

/* .walks-slick .slick-track {
  height: max-content;
} */

.slick-arrow {
  display: none !important;
}

.animation-info:hover .animation-img{
  opacity: 1;
  animation-name: example;
  animation-duration: 1s;
  animation-timing-function: linear;
  z-index: 2;
  transform: translateY(-60%) rotate(0deg);
}

@keyframes example {
  0%   {z-index: 2;}
  25%  {transform: rotate(-35deg);}
  50%  {transform: rotate(-25deg);}
  75%  {transform: rotate(-15deg);}
  100% {transform: translateY(-60%) rotate(0deg);}
}

a.active {
  color: #0093DD;
}


@media screen and (max-width: 1370px) {
  .sponsors-slick .slick-slide img {
    width: 240px;
  }
}